<a href="https://colab.research.google.com/github/Kavya-K-S/DAUP/blob/main/DAUP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
try:
  x=int(input("Enter a number :"))
  y=10/x
  print("result",y)
except Exception as e:
  print("Error occured",e)
except ZeroDivisionError:
  print("you cannot divide by zero")

Enter a number :9
result 1.1111111111111112

In [ ]:
try:
  a=int(input("Enter numerator :"))
  b=int(input("Enter deno :"))
  result=a/b
  print(result)
except ValueError:
  print("pls enter valid integer")
except ZeroDivisionError:
  print("Zero division ewrror")

Enter numerator :8
Enter deno :9
0.8888888888888888

In [ ]:
try:
   f=open("sample.txt","r")
   content=f.read()
except FileNotFoundError as e:
    print(e)

[Errno 2] No such file or directory: 'sample.txt'

In [ ]:
def check_age(age):
  if age<0:
    raise ("negative age")
  print(age)
try:
  age=int(input("enter age:"))
  check_age(age)
except:
  print("Error")

enter age:-8
Error

In [ ]:
try:
  a=input("enter a string :")
  print(int(a))
except Exception as e:
  print(e)

enter a string :asd
invalid literal for int() with base 10: 'asd'

In [ ]:
try:
  a=int(input("Enter a number :"))
  b=int(input("Enter another number :"))
  s=a+b
  print("sum=",s)
  d=a+b
  print("Difference=",d)
  p=a*b
  print("product=",p)
  q=a/b
  print("quotient=",q)
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
except Exception as e:
  print(e)

Enter a number :5
Enter another number :0
sum= 5
Difference= 5
product= 0
division by zero

In [ ]:
class InvalidMark(Exception):
   pass

def check_mark(m):
  if m<0 or m>100:
    raise InvalidMark("The mark is invalid")
  else:
    return "valid mark"

m=int(input("Enter the mark :"))
check_mark(m)

Enter the mark :789

InvalidMark: The mark is invalid

In [ ]:
try:
  a=int(input("Enter a number :"))
  b=int(input("Enter another number :"))
  s=a+b
  print("sum=",s)
  d=a+b
  print("Difference=",d)
  p=a*b
  print("product=",p)
  q=a/b
  print("quotient=",q)
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
except Exception as e:
  print(e)
finally:
  print("Calculation completed")

Enter a number :6
Enter another number :9
sum= 15
Difference= 15
product= 54
quotient= 0.6666666666666666
Calculation completed

In [ ]:
def age_check(age):
  if age<0 or age>150:
    raise ValueError("Unrealistic age")
  else:
    print("valid age")
try:
  age=int(input("Enter your age :"))
  age_check(age)
except ValueError as e:
  print(e)

Enter your age :777
Unrealistic age

In [ ]:
a=1
print(type(a))
def display():
  pass
print(type(display))

<class 'int'>
<class 'function'>

In [ ]:
class Student:
  def __init__(self,name,age):
      self.name=name
      self.age=age
  def display_info(self):
    print(f"name :{self.name},Age:{self.age}")
s1=Student("Alice",21)
s2=Student("Bob",22)
s1.display_info()
s2.display_info()
print(type(s1))
print(type(s2))

name :Alice,Age:21
name :Bob,Age:22
<class '__main__.Student'>
<class '__main__.Student'>

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def introduce(self):
       print(f"My name is {self.name} and I am {self.age} years old.")
p1=Person("John",24)
p1.introduce()

In [ ]:
class Car:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  def details(self):
    print(f"THis is a {self.brand} {self.model}")
c=Car("Toyota","Camry")
c.details()

THis is a Toyota Camry

In [ ]:
class Rectangle:
  def __init__(self,l,b):
    self.l=l
    self.b=b
  def area(self):
    print(f"Area of rectangle is {self.l*self.b}")
l=int(input("Enter length :"))
b=int(input("Enter breadth :"))
r=Rectangle(l,b)
r.area()

Enter length :23
Enter breadth :9
Area of rectangle is 207

Define a class Student with attributes name, roll_no, and grade. Create three student objects and print their data using a method show().

In [ ]:
class Student:
  def __init__(self,name,roll_no,grade):
    self.name=name
    self.roll_no=roll_no
    self.grade=grade
  def show(self):
    print(f"Name : {self.name}, Roll No : {self.roll_no}, Grade : {self.grade}")
s=Student("Alice",101,"A+")
s.show()

Name : Alice, Roll No : 101, Grade : A+

In [ ]:
#Write a class Book with attributes title, author, and price. Use the constructor to initialize the values. Create an object with your favorite book details.
class Book:
  def __init__(self,title,author,price):
    self.title=title
    self.author=author
    self.price=price
  def details(self):
    print(f"Title : {self.title}, Author : {self.author}, Price : {self.price}")
b=Book("The Alchemist","Paulo Coelho",299)
b.details()

Title : The Alchemist, Author : Paulo Coelho, Price : 299

In [ ]:
# Create a class Account with attributes name and balance. Write a method deposit(amount) that adds money to balance. Create an object and deposit ₹1000.
class Account:
  def __init__(self,name,balance):
    self.name=name
    self.balance=balance
  def deposit(self,amount):
    self.balance+=amount
    print(f"Deposited ₹{amount}. New balance is ₹{self.balance}")
d=Account("Anju",700)
d.deposit(1000)

Deposited ₹1000. New balance is ₹1700

In [ ]:
#Create a class Lamp with a method toggle() to switch the lamp between ON and OFF. Create a lamp object and call the method multiple times.
class Lamp:
  def __init__(self):
    self.is_on=False
  def toggle(self):
    self.is_on=not self.is_on
    if self.is_on:
      print("Lamp is on")
    else:
      print("Lamp is off")
l=Lamp()
l.toggle()
l.toggle()
l.toggle()

Lamp is on
Lamp is off
Lamp is on

In [ ]:
# Create a class Employee with attributes name and salary. Create a list of 5 employees and display all names and salaries using a loop
class Employee:
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary
  def details(self):
    print(f"Name : {self.name}, Salary : {self.salary}")
l=[Employee("Anju",50000),Employee("Bob",60000),Employee("Charu",55000),Employee("Devi",70000),Employee("Steve",65000)]
for i in l:
  i.details()

Name : Anju, Salary : 50000
Name : Bob, Salary : 60000
Name : Charu, Salary : 55000
Name : Devi, Salary : 70000
Name : Steve, Salary : 65000

In [ ]:
#Create a class MobilePhone with brand and model. Create an object. Change the model after creation using a method update_model(new_model). Show both old and new model names.
class MobilePhone:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  def update_model(self,new_model):
   print(f"Old model :{self.model}")
   self.model=new_model
   print(f"Brand : {self.brand}, New Model : {self.model}")
m=MobilePhone("Samsung","Galaxy S21")
m.update_model("Galaxy S22")

Old model :Galaxy S21
Brand : Samsung, New Model : Galaxy S22

In [ ]:
class Student:
  school_name="ABC School"  #class attribute (common attribute)
  def __init__(self,name,age):
    self.name=name
    self.age=age     #instance attribute  (unique attribute)
s1=Student("Alice",21)
s2=Student("Bob",22)
print(s1.school_name)
print(s2.school_name)
print(s1.name)
print(s1.age)
print(s2.name)
print(s2.age)

ABC School
ABC School
Alice
21
Bob
22