<a href="https://colab.research.google.com/github/Kavya-K-S/DAUP/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Pandas Series Object
1 D array of indexed data

In [ ]:
import numpy as np
import pandas as pd
data=pd.Series([0.25,0.5,0.75,1.0])#pandas series object
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
print(data.index)
print(data[1])

RangeIndex(start=0, stop=4, step=1)
0.5

Series as generalised NumPy array

In [ ]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(data)
print(data['b'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

In [ ]:
data=pd.Series([0.25,0.5,0.75,1.0],index=[2,5,3,7])
print(data)
print(data[5])

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64
0.5

Series as specialised dictionary

In [ ]:
population_dict={'Kochi':38332851,'Trivandrum':58760394,'Calicut':2975029,'Quilon':94396803}
population=pd.Series(population_dict)
print(population)
print(population['Kochi'])

Kochi         38332851
Trivandrum    58760394
Calicut        2975029
Quilon        94396803
dtype: int64
38332851

In [ ]:
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

In [ ]:
area=pd.Series({'Kochi':423967,'Trivandrum':695662,'Calicut':141297,'Quilon':170312})
places=pd.DataFrame({'population':population,'area':area})
print(places)

            population    area
Kochi         38332851  423967
Trivandrum    58760394  695662
Calicut        2975029  141297
Quilon        94396803  170312

In [ ]:
df_scores=pd.DataFrame({'Test1':[88,89,90,91,92],
                        'Test2':[90,91,92,93,94]},
                       index=['deepu','jaison','sudeesh','shafeek','ajmi'])
print(df_scores)
print(df_scores.max())
print(df_scores.mean())
print(df_scores.min())
print(df_scores.std())

         Test1  Test2
deepu       88     90
jaison      89     91
sudeesh     90     92
shafeek     91     93
ajmi        92     94
Test1    92
Test2    94
dtype: int64
Test1    90.0
Test2    92.0
dtype: float64
Test1    88
Test2    90
dtype: int64
Test1    1.581139
Test2    1.581139
dtype: float64

In [ ]:
df_scores.describe()

           Test1      Test2
count   5.000000   5.000000
mean   90.000000  92.000000
std     1.581139   1.581139
min    88.000000  90.000000
25%    89.000000  91.000000
50%    90.000000  92.000000
75%    91.000000  93.000000
max    92.000000  94.000000

In [ ]:
print(df_scores.head())
print(df_scores.head(2))
print(df_scores.tail())
print(df_scores.tail(2))

         Test1  Test2
deepu       88     90
jaison      89     91
sudeesh     90     92
shafeek     91     93
ajmi        92     94
        Test1  Test2
deepu      88     90
jaison     89     91
         Test1  Test2
deepu       88     90
jaison      89     91
sudeesh     90     92
shafeek     91     93
ajmi        92     94
         Test1  Test2
shafeek     91     93
ajmi        92     94

INDEX

In [ ]:
ind=pd.Index([2,3,5,7,11])
print(ind)
print(ind[1])
print(ind[2:4])

Index([2, 3, 5, 7, 11], dtype='int64')
3
Index([5, 7], dtype='int64')